/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

/*
=============== 
Variables
===============
*/
/*  color: var(--clr-primary); */
:root {
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey: #e7e7e7;
    --clr-dropMenu: #030303;
    --clr-dore: #af936c;
    --clr-turquoise: #03989e;

}
/*
=============== 
Global css
===============
*/
*{
    font-family: 'Abhaya Libre', serif;
}

/*
=============== 
Animation
===============
*/

/*
=============== 
Section ...
===============
*/
h1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

h2{
    margin-left: 15%;
    margin-right: 15%;
}

h3{
    margin-left: 15%;
    margin-right: 15%;
}

p{
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

li{
    margin-left: 15%;
    margin-right: 15%;
}

/*
=============== 
Responsive ...
===============


@media screen and (max-width: 576px){
    .image-fond{
        background-position: left;
    }
}*/